$svgs: (
  angled: "<path d=' M 0 31 L 56 31 L 56 1 L 0 31 Z '/>",
  angled-double:
    "<path d=' M 0 31 L 56 31 L 56 5 L 1 31 Z '/><path d=' M 56 0 L 0 31 L 56 31 L 56 0 Z ' fill-opacity='0.43'/>",
  waves:
    "<path d=' M 0 31 L 56 31 L 56 23 Q 50 16.961 43 23 Q 36 29.039 27 23 Q 20.758 16.328 14 23 Q 7.242 29.672 0 23 L 0 31 Z '/>",
  waves-double:
    "<path d=' M 0 31 L 56 31 L 56 21.12 Q 50 13.662 43 21.12 Q 36 28.578 27 21.12 Q 20.758 12.88 14 21.12 Q 7.242 29.36 0 21.12 L 0 31 Z ' fill-opacity='0.15'/><path d=' M 0 31 L 56 31 L 56 23 Q 50 16.961 43 23 Q 36 29.039 27 23 Q 20.758 16.328 14 23 Q 7.242 29.672 0 23 L 0 31 Z '/>",
  curve: "<path d=' M 0 31 L 56 31 L 56 19 Q 34.102 26.258 0 19 L 0 31 Z '/>",
  curve-double:
    "<path d=' M 0 31 L 56 31 L 56 17 Q 34.102 25.467 0 17 L 0 31 Z ' fill-opacity='0.47'/><path d=' M 0 31 L 56 31 L 56 19 Q 34.102 26.258 0 19 L 0 31 Z '/>"
);
