@import "svg";
@import "create-svg";

.svg-divider {
  position: relative;

  &.top {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-repeat: no-repeat;
      transform: rotateX(180deg);
      background-size: 100% 100%;
    }
  }

  &.bottom {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &.top-rotate-y:before,
  &.bottom-rotate-y:after {
    transform: rotateY(180deg);
  }

  &.top-rotate-x:before,
  &.bottom-rotate-x:after {
    transform: rotateX(180deg);
  }

  &.top-rotate-x-y:before,
  &.bottom-rotate-x-y:after {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
